/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
    min-height: 100%;
}

body {
    /* background: linear-gradient(to bottom, #33ccff 0%, #cc99ff 100%); */
    background: linear-gradient(180deg, rgba(188,255,171,1) 0%, rgba(185,231,163,1) 35%, rgba(117,227,97,1) 100%);
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: scroll;
}

.btn {
    padding: 0.2rem;
    font-size: medium;
}