.comment-container{
    background-color: rgba(189, 189, 189, 0.459);
    border-radius: 1rem;

    box-shadow: #282c34 0 0 4px 0;
}

.comments-list-container{
    /* overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-top: 10cm; */
}