.profile-container {
    position: fixed;
    top: 100px;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
        "profile-container-top profile-container-top profile-container-top"
        "profile-people-container profile-post-container profile-post-container"
        "profile-people-container profile-post-container profile-post-container";
    text-align: center;
}

.profile-container-top {
    grid-area: profile-container-top;
    justify-self: center;
}

.profile-people-container {
    max-height: 100%;
    background-color: pink;
    grid-area: profile-people-container;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    /*padding-bottom: 100%;*/
    /*padding-top: 2rem;*/
}

.profile-post-container {
    grid-area: profile-post-container;
    /*min-height: 100%;*/
    padding-top: 2rem;
    padding-bottom: 5rem;
    overflow-y: auto;
}

.profile-list-item {
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .profile-people-container {
        flex-direction: column;
    }
}
