.report-container {
    display: flex;
    flex-direction: column;
    max-width: min-content;
}

.reports-container {
    display: flex;
    flex-direction: column;
}

.report {
    min-width: min-content;
    max-width: 100px;
}